<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>links}}
</head>


<body>

    <!-- Pills navs -->
       
    <div class="up">
    <div class="main">
        

        <div class="tab-content">
            <h3>Login</h3>
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form action="/login" method="post">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="loginName" class="form-control" name="email"/>
                        <label class="form-label" for="loginName">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="loginPassword" class="form-control" name="password"/>
                        <label class="form-label" for="loginPassword">Password</label>
                    </div>

                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
            
                    <!-- Submit button -->
                    <button  class="btn btn-primary btn-block mb-4" type="submit">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="/register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- Pills content -->

</body>

</html>