.main{
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}
.up{
    display: flex;
    justify-content: center;
    margin: 5rem;
}
button{
    width: 100%;
}
.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3{
    text-align: center;
}
img{
    /* width: 98%; */
    height: 92vh;

}
.divb{
    display : flex ; 
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
    width: 98%;
}